.user-button{
    border: 1px solid #30a2cc;
    padding: 5px;
    margin: 2px;
    background-color: #efefef;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

.user-button:hover{
    background-color: rgb(176, 176, 247)
}

.welcome{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.session-submit{
    background-color: #ff3600;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    padding: .75em 1em;
    text-decoration: none;
    width: 100%;
}

.input-boxes{
    width: 150px;
}

.login-input{
    box-sizing: border-box;
    transition: border-color;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #d7d9db;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
    font-weight: bold;
    font-family: effra,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    margin-bottom: .75em;
    padding: .5em .5em;
    width: 100%;
}

.signin-input{
    box-sizing: border-box;
    transition: border-color;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #d7d9db;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
    font-family: effra,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: .75em;
    padding: .5em .5em;
    width: 100%;
}

.login-input-label{
    display: block;
    font-family: effra,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
}

.login-text{
    padding-bottom: 10px;
    font-weight: bold;
}

.username-and-password{
    padding-top: 15px;
    padding-bottom: 15px;
}



// .modal-child{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 95%;
//     max-width: 500px;
//     margin: 0;
//     padding: 1.9em 2em 2em;
//     background-color: #ddd;
//     border-radius: 5px;
//     box-shadow: 0 3px 20px rgba(0,0,0,.5);
// }