// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.the-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #30a2cc;
    height: 60px;
}

.nav-bar-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    left: -100px;
}

.greeting-container{
    width: 150px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.nav-bar-fields h3{
    padding: 5px;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.recipes-tab{
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.recipes-dropdown{
  display: none;
  position: absolute;
  background-color: #30a2cc;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.recipes-tab:hover .recipes-dropdown{
    display: block;
}

.rest-image{
    width: 20px;
    height: 100%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(179, 178, 178, 0.8);
  z-index: 10;
  // opacity: 0.8;
}

.modal-child {
  background-color: #30a2cc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 11;
  border: 5px;
  margin: 20px;
  padding: 50px;
}

#modal{
  z-index: 11;
  opacity: 1;
}

.main-link{
  text-decoration: none;
}

.logout{
  text-decoration: none;
  color: black;
}
