// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.the-navbar{
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #30a2cc;
    height: 60px;
    width: 100%;
    background-color: #efefef;
    z-index: 10;
}

.title-and-image{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  // background-color: #efefef;
}

.title{
    background-color: #efefef;
}

.nav-bar-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    // left: -100px;
}

.greeting-container{
    width: 150px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.nav-bar-fields h3{
    padding: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.recipes-tab{
  text-align: center;
  width: 125%;
  color: black;
  padding: 16px;
  font-size: 18px;
  border: none;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.recipes-dropdown{
  color: white;
  padding: 10px;
  top: 101%;
  text-align: justify;
  width: 125%;
  display: none;
  position: absolute;
  background-color: #30a2cc;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;


}

.recipes-tab:hover .recipes-dropdown{
    display: block;
}

.rest-image{
    width: 20px;
    height: 100%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(179, 178, 178, 0.8);
  z-index: 10;
  // opacity: 0.8;
}

.modal-child {
//   background-color: #30a2cc;
//   position: absolute;
//   top: 50%;
//   left: 50%;
  transform: translate(-50%, -50%);
//   opacity: 1;
//   z-index: 11;
//   border: 5px;
//   margin: 20px;
//   padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    max-width: 500px;
    margin: 0;
    padding: 1.9em 2em 2em;
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0,0,0,.5);
}



#modal{
  z-index: 11;
  opacity: 1;
}

.main-link{
  text-decoration: none;
}

.logout{
  text-decoration: none;
  color: black;
}
